<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title> 
			JOBS 
		</title>
			
			<style>	
				a:link 
				{	
				text-decoration:none;
				color:white;
				font-family:Comic Sans MS;
				}
						
				a:hover	
				{	
				color:black;
				font-family:Comic Sans MS;
				}
			
				a:visited
				{
				color:white;
				font-family:Comic Sans MS;
				}
			
				#heading 
				{
				font-family: Papyrus, fantasy;
				margin-right:1200px;
				}
			</style>
		
	</head>	
	<body>	
		<%= form_for :login_home do |f| %>
			
			<div id="top" style="text-align:right;font-size:140%;background-color:#587CE5;padding:15px">
				<a id="heading" style="color:white;font-size:180%"><b>JOBHUNT</b></a>
				<%= link_to "HOME",{:action=>'index', :controller=>'home'} %>|
				<%= link_to "LOGOUT",{:action=>'logout', :controller=>'login'} %>
				
				<p style="margin-right: 600px">
				<b>WELCOME</b>
				</p>
				
			</div>	
			
	</body>
<% end %>
</html>
